In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [3]:
df.nunique()

Property_ID               39499
Property_Type                 6
Property_Area              4435
Number_of_Windows            16
Number_of_Doors               6
Furnishing                    3
Frequency_of_Powercuts        4
Power_Backup                  3
Water_Supply                  5
Traffic_Density_Score       772
Crime_Rate                    4
Dust_and_Noise                3
Air_Quality_Index           489
Neighborhood_Review         417
Habitability_score         6105
dtype: int64

In [4]:
df.shape

(39499, 15)

In [5]:
df.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [6]:
df.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [7]:
cols_to_fill_z = ['Number_of_Windows','Frequency_of_Powercuts']
df[cols_to_fill_z] = df[cols_to_fill_z].fillna(0)

In [8]:
df.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows            0
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts       0
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le_Furnishing = LabelEncoder()

In [10]:
df.isna().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows            0
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts       0
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [11]:
df[0:10]

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,0.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70
5,0xbe4e,Single-family home,1185,3.0,3,Unfurnished,0.0,No,Once in a day - Morning,5.69,Well below average,Medium,91.0,4.49,82.94
6,0xe2a,Single-family home,1779,3.0,3,Semi_Furnished,0.0,No,Once in a day - Evening,7.43,NaN,Medium,100.0,2.90,74.88
7,0x2ea5,Duplex,1281,5.0,2,Semi_Furnished,3.0,No,All time,7.72,Well above average,Medium,143.0,0.96,28.54
8,0x7a83,Apartment,268,1.0,3,Semi_Furnished,1.0,No,All time,6.13,Well below average,NaN,94.0,4.17,88.11
9,0xb0fb,Apartment,159,2.0,2,Semi_Furnished,0.0,Yes,Once in a day - Morning,6.77,Well below average,Medium,90.0,4.48,80.65

In [12]:
df['Furnishing'] = df['Furnishing'].fillna('Unfurnished')

In [13]:
df['Furnishing_n'] = le_Furnishing.fit_transform(df['Furnishing'])

In [14]:
df['Crime_Rate'] = df['Crime_Rate'].fillna('Well below average')

In [15]:
le_crime = LabelEncoder()

In [16]:
df['crime_n'] = le_crime.fit_transform(df['Crime_Rate'])

In [17]:
df['Dust_and_Noise'] = df['Dust_and_Noise'].fillna('Medium')

In [18]:
le_dust = LabelEncoder()

In [19]:
df['dust_n'] = le_dust.fit_transform(df['Dust_and_Noise'])

In [20]:
df.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
Habitability_score        0
Furnishing_n              0
crime_n                   0
dust_n                    0
dtype: int64

In [21]:
le_pro = LabelEncoder()

In [22]:
df['Property_n'] = le_pro.fit_transform(df['Property_Type'])

In [26]:
df.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_n,crime_n,dust_n,Property_n,Power_n
0,0x21e3,Apartment,106,0.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98,1,1,2,1,1
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20,2,3,2,1,1
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39,0,1,2,1,1
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46,2,2,2,1,2
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70,0,3,2,2,1

In [24]:
le_power = LabelEncoder()

In [25]:
df['Power_n'] = le_power.fit_transform(df['Power_Backup'])

In [27]:
le_water = LabelEncoder()

In [28]:
df['water_n'] = le_water.fit_transform(df['Water_Supply'])

In [29]:
df.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,...,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_n,crime_n,dust_n,Property_n,Power_n,water_n
0,0x21e3,Apartment,106,0.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,...,Medium,90.0,3.86,71.98,1,1,2,1,1,3
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,...,Medium,96.0,3.55,71.20,2,3,2,1,1,2
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,...,Medium,121.0,3.81,71.39,0,1,2,1,1,3
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,...,Medium,100.0,1.34,31.46,2,2,2,1,2,3
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,...,Medium,116.0,4.77,93.70,0,3,2,2,1,0

In [30]:
inputt = df.drop(['Property_Type','Furnishing','Power_Backup','Water_Supply','Crime_Rate','Dust_and_Noise'],axis='columns')

In [31]:
inputt.head()

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_n,crime_n,dust_n,Property_n,Power_n,water_n
0,0x21e3,106,0.0,1,0.0,5.89,90.0,3.86,71.98,1,1,2,1,1,3
1,0x68d4,733,2.0,2,1.0,4.37,96.0,3.55,71.20,2,3,2,1,1,2
2,0x7d81,737,4.0,2,0.0,7.45,121.0,3.81,71.39,0,1,2,1,1,3
3,0x7a57,900,3.0,2,2.0,6.16,100.0,1.34,31.46,2,2,2,1,2,3
4,0x9409,2238,14.0,6,0.0,5.46,116.0,4.77,93.70,0,3,2,2,1,0

In [33]:
inputt.to_csv('clean_data.csv',index=False)

In [34]:
X = inputt.drop(['Property_ID','Habitability_score'],axis = 'columns')

In [35]:
y = inputt['Habitability_score']

In [36]:
X.head()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_n,crime_n,dust_n,Property_n,Power_n,water_n
0,106,0.0,1,0.0,5.89,90.0,3.86,1,1,2,1,1,3
1,733,2.0,2,1.0,4.37,96.0,3.55,2,3,2,1,1,2
2,737,4.0,2,0.0,7.45,121.0,3.81,0,1,2,1,1,3
3,900,3.0,2,2.0,6.16,100.0,1.34,2,2,2,1,2,3
4,2238,14.0,6,0.0,5.46,116.0,4.77,0,3,2,2,1,0

In [37]:
y.head()

0    71.98
1    71.20
2    71.39
3    31.46
4    93.70
Name: Habitability_score, dtype: float64

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

In [39]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train,y_train)

In [40]:
reg.score(X_test,y_test)

0.553459195361041

In [41]:
reg.score(X_train,y_train)

0.5577709687458314

In [42]:
dff = pd.read_csv('test.csv')

In [44]:
dff.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [46]:
dff.nunique()

Property_ID               10500
Property_Type                 6
Property_Area              2969
Number_of_Windows            16
Number_of_Doors               6
Furnishing                    3
Frequency_of_Powercuts        4
Power_Backup                  3
Water_Supply                  5
Traffic_Density_Score       685
Crime_Rate                    4
Dust_and_Noise                3
Air_Quality_Index           274
Neighborhood_Review         375
dtype: int64

In [52]:
dff.isna().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows           0
Number_of_Doors             0
Furnishing                  0
Frequency_of_Powercuts      0
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [49]:
cols_to_fill_ze = ['Number_of_Windows','Frequency_of_Powercuts']
dff[cols_to_fill_ze] = dff[cols_to_fill_ze].fillna(0)

In [51]:
dff['Furnishing'] = dff['Furnishing'].fillna('Unfurnished')

In [53]:
dff['Crime_Rate'] = dff['Crime_Rate'].fillna('Well below average')

In [55]:
dff['Dust_and_Noise'] = dff['Dust_and_Noise'].fillna('Medium')

In [59]:
dff.isna().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
dtype: int64

In [60]:
le_fur = LabelEncoder()
le_cri = LabelEncoder()
le_dus = LabelEncoder()
le_pro = LabelEncoder()
le_pow = LabelEncoder()
le_wat = LabelEncoder()

In [61]:
dff['fur_n'] = le_fur.fit_transform(dff['Furnishing'])

In [62]:
dff['cri_n'] = le_cri.fit_transform(dff['Crime_Rate'])

In [63]:
dff['dus_n'] = le_dus.fit_transform(dff['Dust_and_Noise'])

In [64]:
dff['pro_n'] = le_pro.fit_transform(dff['Property_Type'])

In [65]:
dff['pow_n'] = le_pow.fit_transform(dff['Power_Backup'])

In [66]:
dff['wat_n'] = le_wat.fit_transform(dff['Water_Supply'])

In [67]:
dff.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,fur_n,cri_n,dus_n,pro_n,pow_n,wat_n
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52,2,2,2,1,1,3
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16,1,3,2,1,1,2
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92,1,0,2,3,1,0
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45,1,1,2,1,1,0
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72,0,2,0,2,1,0

In [68]:
inputtt = dff.drop(['Property_Type','Furnishing','Power_Backup','Water_Supply','Crime_Rate','Dust_and_Noise'],axis='columns')

In [71]:
inputtt.to_csv('clean_test_sample.csv',index = False)

In [70]:
output = inputtt['Property_ID']
output.head()

0    0x6e93
1    0x8787
2    0x6c17
3    0x9dbd
4    0xbfde
Name: Property_ID, dtype: object

In [72]:
XX = inputtt.drop(['Property_ID'],axis = 'columns')

In [73]:
regg = LinearRegression().fit(X,y)

In [77]:
yy = regg.predict(XX)

In [79]:
yy

array([46.37405665, 73.76655291, 65.18311304, ..., 83.20491585,
       70.85976553, 74.11063172])

In [80]:
import numpy as np

In [81]:
output['Habitability_score'] = yy

In [82]:
output.head()

0    0x6e93
1    0x8787
2    0x6c17
3    0x9dbd
4    0xbfde
Name: Property_ID, dtype: object

In [84]:
outputt = pd.read_csv('sample_submission.csv')

In [85]:
outputt.head()

  Property_ID  Habitability_score
0      0x21e3               71.98
1      0x68d4               71.20
2      0x7d81               71.39
3      0x7a57               31.46
4      0x9409               93.70

In [86]:
outputt = outputt.drop(['Property_ID'],axis='columns')

In [87]:
outputt.head()

   Habitability_score
0               71.98
1               71.20
2               71.39
3               31.46
4               93.70

In [88]:
outputt['Property_ID'] = inputtt['Property_ID']

In [89]:
outputt.head()

   Habitability_score Property_ID
0               71.98      0x6e93
1               71.20      0x8787
2               71.39      0x6c17
3               31.46      0x9dbd
4               93.70      0xbfde

In [90]:
outputt = outputt.drop(['Habitability_score'],axis='columns')

In [91]:
outputt.head()

  Property_ID
0      0x6e93
1      0x8787
2      0x6c17
3      0x9dbd
4      0xbfde

In [93]:
outputt

  Property_ID
0      0x6e93
1      0x8787
2      0x6c17
3      0x9dbd
4      0xbfde

In [94]:
inputtt

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,fur_n,cri_n,dus_n,pro_n,pow_n,wat_n
0,0x6e93,293,3.0,1,0.0,7.28,152.0,2.52,2,2,2,1,1,3
1,0x8787,586,4.0,1,0.0,7.63,92.0,4.16,1,3,2,1,1,2
2,0x6c17,305,1.0,2,1.0,5.39,90.0,2.92,1,0,2,3,1,0
3,0x9dbd,258,2.0,1,1.0,7.53,158.0,3.45,1,1,2,1,1,0
4,0xbfde,3031,12.0,4,0.0,8.79,186.0,2.72,0,2,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,0x423d,961,0.0,3,0.0,5.44,94.0,3.55,2,1,2,1,1,2
10496,0x78c5,282,1.0,2,3.0,6.72,106.0,2.90,1,3,2,3,2,0
10497,0xbf3,27445,0.0,2,0.0,9.28,149.0,4.02,0,3,0,4,1,2
10498,0x305b,1451,2.0,3,1.0,6.25,131.0,3.49,2,3,2,5,2,2
10499,0x5cff,578,0.0,1,0.0,5.98,112.0,4.15,1,1,2,1,1,0

In [102]:
out = pd.DataFrame()

In [104]:
out['Property_ID'] = inputtt['Property_ID']
out

      Property_ID
0          0x6e93
1          0x8787
2          0x6c17
3          0x9dbd
4          0xbfde
...           ...
10495      0x423d
10496      0x78c5
10497       0xbf3
10498      0x305b
10499      0x5cff

[10500 rows x 1 columns]

In [105]:
out['Habitability_score'] = regg.predict(XX)

In [106]:
out

      Property_ID  Habitability_score
0          0x6e93           46.374057
1          0x8787           73.766553
2          0x6c17           65.183113
3          0x9dbd           68.604752
4          0xbfde           67.083500
...           ...                 ...
10495      0x423d           60.537968
10496      0x78c5           75.469249
10497       0xbf3           83.204916
10498      0x305b           70.859766
10499      0x5cff           74.110632

[10500 rows x 2 columns]

In [107]:
out.to_csv('sub_1.csv',index = False)

In [110]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso()
lasso_reg.fit(X_train, y_train)

Lasso()

In [111]:
lasso_reg.score(X_test,y_test)

0.4920631068789514

In [114]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()
model = LogisticRegression()

In [115]:
model.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'