In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
#supress warning for clean notebook
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv("Melbourne_housing_FULL.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [6]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [8]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']
df = df[cols_to_use]

In [9]:
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [10]:
df.shape
#rows,columns

(34857, 15)

In [12]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [13]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [14]:
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())

In [15]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [18]:
#Dropping NA columns
df.dropna(inplace=True)

In [20]:
df.shape

(27244, 15)

In [22]:
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,160.2564,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0000,1035000.0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0000,1465000.0
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,94.0,160.2564,850000.0
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,1.0,2.0,120.0,142.0000,1600000.0

In [23]:
from sklearn.preprocessing import LabelEncoder
le_suburb =  LabelEncoder()
le_type =  LabelEncoder()
le_method =  LabelEncoder()
le_sellerg =  LabelEncoder()
le_region =  LabelEncoder()
le_council =  LabelEncoder()

In [24]:
df['suburb_n'] = le_suburb.fit_transform(df['Suburb'])

In [25]:
df['type_n'] = le_type.fit_transform(df['Type'])

In [26]:
df['meathod_n'] = le_method.fit_transform(df['Method'])

In [27]:
df['seller_g'] = le_sellerg.fit_transform(df['SellerG'])

In [28]:
df['region'] =  le_region.fit_transform(df['Regionname'])

In [29]:
df['council'] = le_council.fit_transform(df['CouncilArea'])

In [30]:
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,...,Car,Landsize,BuildingArea,Price,suburb_n,type_n,meathod_n,seller_g,region,council
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,...,1.0,202.0,160.2564,1480000.0,0,0,1,32,2,31
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,...,0.0,156.0,79.0000,1035000.0,0,0,1,32,2,31
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,0.0,134.0,150.0000,1465000.0,0,0,3,32,2,31
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,1.0,94.0,160.2564,850000.0,0,0,0,32,2,31
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,2.0,120.0,142.0000,1600000.0,0,0,4,206,2,31

In [31]:
df = df.drop(['Suburb','Type','Method','SellerG','Regionname','CouncilArea'],axis = 'columns')

In [32]:
df.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,suburb_n,type_n,meathod_n,seller_g,region,council
1,2,4019.0,2.5,2.0,1.0,1.0,202.0,160.2564,1480000.0,0,0,1,32,2,31
2,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.0000,1035000.0,0,0,1,32,2,31
4,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.0000,1465000.0,0,0,3,32,2,31
5,3,4019.0,2.5,3.0,2.0,1.0,94.0,160.2564,850000.0,0,0,0,32,2,31
6,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.0000,1600000.0,0,0,4,206,2,31

In [33]:
X = df.drop('Price', axis=1)
y = df['Price']

In [34]:
X.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,suburb_n,type_n,meathod_n,seller_g,region,council
1,2,4019.0,2.5,2.0,1.0,1.0,202.0,160.2564,0,0,1,32,2,31
2,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.0000,0,0,1,32,2,31
4,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.0000,0,0,3,32,2,31
5,3,4019.0,2.5,3.0,2.0,1.0,94.0,160.2564,0,0,0,32,2,31
6,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.0000,0,0,4,206,2,31

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

In [61]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train,y_train)

In [62]:
reg.score(X_test,y_test)

0.4229205839081289

In [63]:
reg.score(X_train,y_train)

0.4348888730652064

In [48]:
#X_train

In [64]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [65]:
lasso_reg.score(X_test,y_test)

0.422928134532892

In [66]:
from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(X_train,y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [67]:
ridge_reg.score(X_test,y_test)

0.42300067665702845

In [68]:
ridge_reg.score(X_train, y_train)

0.43487884824982226